@inject IConfiguration Configuration
@using Microsoft.Extensions.Configuration
@using PetGuide.Data.Models.Enums
@model PetGuide.Web.ViewModels.Pets.SearchPetListViewModel

<main id="main">
    <!-- ======= Search Section ======= -->
    <section id="contact" class="contact">
        <div class="container">


            <!-- Search Bar -->
            <div class="card w-100 mt-5">
                <div class="card-header">
                    <h3>Search Filter</h3>
                    <div class="d-flex justify-content-end search_icon">
                        <span><i class="fas fa-paw"></i></span>
                        <span><i class="fas fa-dog"></i></span>
                        <span><i class="fas fa-cat"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="row">

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Type" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                        <select asp-for="Type" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetType>()">
                                            <option placeholder="" value="">Type</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Color" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-palette"></i></span>
                                        <select asp-for="Color" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetColor>()">
                                            <option placeholder="" value="">Color</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="Age" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                                    </div>
                                    <input asp-for="Age" type="text" class="form-control" placeholder="Age in years">

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Size" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-weight"></i></span>
                                        <select asp-for="Size" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetSize>()">
                                            <option placeholder="" value="">Size</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="District" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        <select asp-for="District" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<District>()">
                                            <option placeholder="" value="">District</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="Street" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                    <input asp-for="Street" type="text" class="form-control" placeholder="Street">

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Status" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                        <select asp-for="Status" style="width: 100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetStatus>()">
                                            <option placeholder="" value="">Status</option>
                                        </select>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-8 col-md-6">

                                <span asp-validation-for="Description" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                                    </div>
                                    <textarea asp-for="Description" rows="1" style="resize:none" type="text" class="form-control" placeholder="Key words"></textarea>

                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 mx-auto">
                                <div class="form-group mb-0 text-center">
                                    <input type="submit" value="Search" class="btn search_btn" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Search Bar -->

            <div id="map_wrapper" style="height: 400px" class="d-flex justify-content-center">
                <div id="map_canvas" class="mapping"></div>
            </div>

            <section id="portfolio" class="portfolio" style="padding-top: 60px">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-Lost">Lost Pets</li>
                            <li data-filter=".filter-Spotted">Spotted Pets</li>
                            <li data-filter=".filter-Found">Found Pets</li>
                            <li data-filter=".filter-Sheltered">Sheltered Pets</li>
                        </ul>
                    </div>
                </div>
            </section>
            <div>
                <div class="mt-5" data-aos="fade-up">

                    <form>
                        <h1 class="text-center">Recently Added</h1>
                        <div class="inner-form">

                            <section id="portfolio" class="portfolio">
                                <div class="row mt-3 portfolio-container">

                                    @{
                                        foreach (var pet in Model.Pets)
                                        {
                                            <div class="col-lg-4 col-md-6 portfolio-item filter-@pet.Status">
                                                <div class="portfolio-wrap">
                                                    <img src="@pet.FirstPicture?.Name.Replace("Thumbnail", "Fullscreen")" class="img-fluid" alt="">
                                                    <div class="portfolio-info">
                                                        <h4>@pet.Name</h4>
                                                        <p>@Html.DisplayFor(x => pet.Type)</p>
                                                        <div class="portfolio-links">
                                                            <a href="@pet.FirstPicture?.Name.Replace("Thumbnail", "Fullscreen")" data-gall="portfolioGallery" class="venobox" title="@pet.Name"><i class="icofont-image"></i></a>
                                                            <a asp-action="Details" asp-route-id="@pet.Id" title="More Details"><i class="bx bx-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->



@section LoginRegisterAdd {
    <link href="~/css/login-register.css" type="text/css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/map.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script async defer
            src="//maps.googleapis.com/maps/api/js?key=@this.Configuration["GoogleMaps:ApiKey"]&callback=initialize">
    </script>
    <script>
        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var latlng = new google.maps.LatLng(42.698334, 23.319941);
            var mapOptions = {
                mapTypeId: 'roadmap',
                center: latlng
            };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);

            // Multiple Markers
            var markers = [
                @foreach(var petLocation in Model.Locations)
                {
                    @: ['@petLocation.Name', '@petLocation.LatitudeAsString', '@petLocation.LongitudeAsString'],
                }
            ];


            // Info Window Content
            var infoWindowContent = [
                @foreach (var petLocation in Model.Locations)
            {
               @:['<div class="info_content">' + '<a href="/Pets/Details/@petLocation.Id"><h3>@petLocation.Name</h3></a>' + '<p>@petLocation.Street, @Html.DisplayFor(x => petLocation.District)</p>' + '</div>'],
            }
            ];
            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;
            // Loop through our array of markers & place each one on the map
            for (i = 0; i < markers.length; i++) {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });
                // Allow each marker to have an info window
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(infoWindowContent[i][0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }
            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(7);
                google.maps.event.removeListener(boundsListener);
            });
            //HTML 5 Geolocation
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("You are here.");
                            infoWindow.open(map);
                            map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            };

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
    </script>
}