@model PetGuide.Web.ViewModels.Posts.PostDetailsViewModel

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Advices</h2>
                    <p>Best section where anybody could get usefull information about his or her pets.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Advices" asp-action="All">Advices</a></li>
                <li>@Model.Title</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name.Equals(this.Model.Author.UserName))
                    {
                        <div class="d-flex mb-3">

                            <div>
                                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                            </div>
                            <div class="ml-1">
                                <form method="post" id="deleteForm" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                                </form>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </div>

                        </div>
                    }

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <!-- PICTURE -->
                            <img src="~/img/animal-video.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            @Model.Title
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">@Model.Author.UserName</a></li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> @Model.CreatedOnAsString</li>
                                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a asp-action="All" asp-route-id="@Model.Category.ToString()">@Model.Category.ToString()</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                @Model.Content
                            </p>



                            <div class="container page-top">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                                            <img src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid " alt="">

                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                                            <img src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid" alt="">
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                                            <img src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid " alt="">
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                                            <img src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid " alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="entry-footer clearfix">
                            <div class="float-left">
                                <i class="icofont-comment"></i>
                                <ul class="cats">
                                    <li><a asp-action="Category" asp-route-id="@Model.Category.ToString()">@Model.Category.ToString()</a></li>
                                </ul>

                                <i class="icofont-tags"></i>
                                <ul class="tags">
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <li><a asp-action="All" asp-route-id="@tag.Name">@tag.Name</a></li>
                                    }
                                </ul>
                            </div>

                            <div class="float-right share">
                                <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                                <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                                <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                            </div>

                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author clearfix">
                        <img src="~/img/pet-profile/dog-profile.jpg" class="rounded-circle float-left" alt="">
                        <h4>@Model.Author.FirstName @Model.Author.LastName</h4>
                        <p>
                            @Model.Author.Description
                        </p>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments">

                        <h4 class="comments-count">8 Comments</h4>

                        <div id="comment-1" class="comment clearfix">
                            <img src="~/img/animal-video.jpg" class="comment-img  float-left" alt="">
                            <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                            <time datetime="2020-01-01">01 Jan, 2020</time>
                            <p>
                                Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                                Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                            </p>

                        </div><!-- End comment #1 -->

                        <div id="comment-2" class="comment clearfix">
                            <img src="~/img/register-font.png" class="comment-img  float-left" alt="">
                            <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                            <time datetime="2020-01-01">01 Jan, 2020</time>
                            <p>
                                Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                            </p>

                            <div id="comment-reply-1" class="comment comment-reply clearfix">
                                <img src="~/img/about/dog-blue-background-2.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                </p>

                                <div id="comment-reply-2" class="comment comment-reply clearfix">
                                    <img src="~/img/about/two-rabbits.jpg" class="comment-img  float-left" alt="">
                                    <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                                    </p>

                                </div><!-- End comment reply #2-->

                            </div><!-- End comment reply #1-->

                        </div><!-- End comment #2-->


                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <form action="">
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control" placeholder="Your Comment"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post Comment</button>

                            </form>

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Contribution</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a>@Model.Contribution</a></li>
                            </ul>

                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                @foreach (var category in Model.AllCategories)
                                {
                                    <li><a asp-action="Category" asp-route-id="@category">@category.ToString() <span> (22) </span></a></li>
                                }
                            </ul>

                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach (var tag in Model.AllTags)
                                {
                                    <li><a asp-action="All" asp-route-id="@tag.Id">@tag.Name.ToString()</a></li>
                                }
                            </ul>

                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete @Model.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete "@Model.Title"?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->