@using PetGuide.Common

@model PetGuide.Web.ViewModels.Posts.PostDetailsViewModel

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Articles</h2>
                    <p>Best section where anybody could get usefull information about his or her pets.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Advices" asp-action="All">Advices</a></li>
                <li>@Model.Title</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name.Equals(this.Model.Author.UserName))
                    {
                        <div class="d-flex mb-3">

                            <div>
                                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                            </div>
                            <div class="ml-1">
                                <form method="post" id="deleteForm" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                                </form>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </div>

                        </div>
                    }

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <!-- PICTURE -->
                            <img src="@Model.FirstPictureToShow.Name.Replace("Thumbnail", "Fullscreen")" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            @Model.Title
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> @Model.Author.UserName </li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> @Model.CreatedOnAsString</li>
                                <li class="d-flex align-items-center"><i class="icofont-comment"></i>@Model.Category.ToString()</li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                @Model.Content
                            </p>



                            <div class="container page-top">
                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <div class="entry-footer clearfix">
                                        <div class="form-group mb-3 mt-0 text-center">
                                            <a asp-controller="Pictures" asp-action="Upload" asp-route-id="@Model.Id" class="btn search_btn ">Add more pictures</a>
                                        </div>
                                    </div>
                                }
                                <div class="row">

                                    @foreach (var picture in Model.PicturesToShow)
                                    {
                                        <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                                            <a href="@picture.Name.Replace("Thumbnail", "Fullscreen")" class="fancybox" rel="ligthbox">
                                                <img src="@picture.Name.Replace("Thumbnail", "Fullscreen")" class="zoom img-fluid " alt="">
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="entry-footer clearfix">
                            <div class="float-left">
                                <i class="icofont-comment"></i>
                                <ul class="cats">
                                    <li><a>@Model.Category.ToString()</a></li>
                                </ul>

                                <i class="icofont-tags"></i>
                                <ul class="tags">
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <li><a asp-action="All" asp-route-id="@tag.Name">@tag.Name</a></li>
                                    }
                                </ul>
                            </div>
                      </div>
                    </article><!-- End blog entry -->

                    <div class="blog-author clearfix">
                        <img src="~/img/pet-profile/dog-profile.jpg" class="rounded-circle float-left" alt="">
                        <h4>@Model.Author.FirstName @Model.Author.LastName</h4>
                        <p>
                            @Model.Author.Description
                        </p>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments">

                        <h4 class="comments-count">8 Comments</h4>

                        <div id="comment-1" class="comment clearfix">
                            <img src="~/img/animal-video.jpg" class="comment-img  float-left" alt="">
                            <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                            <time datetime="2020-01-01">01 Jan, 2020</time>
                            <p>
                                Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                                Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                            </p>

                        </div><!-- End comment #1 -->

                        <div id="comment-2" class="comment clearfix">
                            <img src="~/img/register-font.png" class="comment-img  float-left" alt="">
                            <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                            <time datetime="2020-01-01">01 Jan, 2020</time>
                            <p>
                                Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                            </p>

                            <div id="comment-reply-1" class="comment comment-reply clearfix">
                                <img src="~/img/about/dog-blue-background-2.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                </p>

                                <div id="comment-reply-2" class="comment comment-reply clearfix">
                                    <img src="~/img/about/two-rabbits.jpg" class="comment-img  float-left" alt="">
                                    <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                                    </p>

                                </div><!-- End comment reply #2-->

                            </div><!-- End comment reply #1-->

                        </div><!-- End comment #2-->


                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <form action="">
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control" placeholder="Your Comment"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post Comment</button>

                            </form>

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Contribution</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a> Many people find our articles useful. </a></li>
                            </ul>

                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                @foreach (var category in Model.AllCategories)
                                {
                                    <li><a>@category.Key.ToString() <span> (@category.Value) </span></a></li>
                                }
                            </ul>

                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach (var tag in Model.AllTags)
                                {
                                    <li><a asp-action="Tag" asp-route-id="@tag.Id">@tag.Name.ToString()</a></li>
                                }
                            </ul>

                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
<!-- Modal -->
<div id="deleteModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-delete">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="icofont-close"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete @Model.Title?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section LoginRegisterAdd {
    <link href="~/css/login-register.css" type="text/css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/modal.css" type="text/css" rel="stylesheet" asp-append-version="true" />
}