@{
    this.Layout = "_AdminLayout";
}

@using System.Security.Claims
@model PetGuide.Web.ViewModels.Administration.Dashboard.DashboardViewModel

<main id="main-dashboard">

    <!-- Content -->
    <div class="content">

        <div class="container">

            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="fa fa-paw"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">@Model.PetsCount</span></div>
                                            <div class="stat-heading">Pets</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">@Model.UsersCount</span></div>
                                            <div class="stat-heading">Users</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-2">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">@Model.SheltersCount</span></div>
                                            <div class="stat-heading">Shelters</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-3">
                                        <i class="fa fa-calendar-alt"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">@Model.EventsCount</span></div>
                                            <div class="stat-heading">Events</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Widgets -->

                <div class="clearfix"></div>
                <!-- Orders -->
                <div class="orders">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">Requests</h4>
                                </div>
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th>ID</th>
                                                    <th>Date & Time</th>
                                                    <th>Username</th>
                                                    <th>Shelter</th>
                                                    <th>Event</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var index = 1;
                                                    foreach (var request in Model.Requests)
                                                    {
                                                        <tr>
                                                            <td class="serial">@index.</td>
                                                            <td>@request.Id</td>
                                                            <td>@request.CreatedOn.ToString("g")</td>
                                                            <td><a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@request.VolunteerId"><span class="name">@request.Volunteer.UserName</span></a></td>
                                                            <td><a asp-area="" asp-controller="Shelters" asp-action="Details" asp-route-id="@request.ShelterId"><span class="name">@request.Shelter?.Name</span></a></td>
                                                            <td><a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@request.EventId"><span class="name">@request.Event?.Name</span></a></td>
                                                            <td>
                                                                <form method="post">
                                                                    <button type="submit" asp-controller="Administration" asp-action="Approve" asp-route-id="@request.Id" class="badge badge-complete">Approve</button>
                                                                    <button type="submit" asp-controller="Administration" asp-action="Decline" asp-route-id="@request.Id" class="badge badge-decline">Decline</button>
                                                                </form>
                                                            </td>
                                                        </tr>

                                                        index++;
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div> <!-- /.table-stats -->
                                </div>
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-8 -->

                    </div>
                </div>
                <!-- /.orders -->
               
            </div>
            <!-- .animated -->
        </div>
    </div>
    <!-- /.content -->
</main>
